.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
}
@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

* {
font-family:'Lato', sans-serif;
}

.login-div {
    margin: 100px auto;
    width: 400px;
    background-color:#fff;
    padding: 60px;
}
.logo {
    background-color:#F6DDCC;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin:0 auto;
    margin-bottom: 10px;
}
.logo img {
    width: 100%;
}
.title, .sub-title {
    text-align: center;
    color: black;
}
.title {
    font-weight: bolder;
    font-size: 35px;
}
.sub-title {
    font-weight: bolder;
    font-size: 16px;
}
.form {
    width: 100%;
    margin-top: 30px;
}
.form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}
.username, .password {
    display: block;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,2);
    padding: 1px;
    margin: 10px 0;
}
.form svg {
    height: 30px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 5px;
}
.options {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
}
button.signin-btn {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: #000;
    color: white;
    margin-bottom: 5px;
}
.sign-up {
    text-align: center;
}
