@font-face {
    font-family: "GothamPro";
    src: url("C:/Users/niyaz/IdeaProjects/nexmarket/.idea/fonts/GothamPro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamPro-Black";
    src: url("C:/Users/niyaz/IdeaProjects/nexmarket/.idea/fonts/GothamPro-Black") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.carousel-item {
    height: 400px;
    border-radius: 30px;
}
.carousel-item img {
    height: 400px;
    border-radius: 50px;
}
.image img {
    object-fit: cover;
    border-radius: 7px;
}
