
/*FONTS
================================================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400;500;600;700&display=swap');
/*FONTS
================================================*/

/*Carousel
================================================*/
.my-carousel .carousel-item {
    max-height: 300px;
    min-height: 300px;
}
.my-carousel .carousel-item img {
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
}
/*Carousel
================================================*/

/*============== Animation ===============*/
.animation {
    padding-bottom: 20px;
}
.animation .h1{
    font-weight: 200;
    margin: 0.4em 0;
}
.animation .h1 { font-size: 3.5em; }

/*============== Animation ===============*/

/*Products
================================================*/
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.product-wrap {
    width: 300px;
    height: 402px;
    max-width: 100%;
    background: white;
    margin-bottom: 30px;
    border-radius: 24px;

}

/*Product image */
.product-image {
    position: relative;
}
.product-image a {
    display: block;
}
.product-image img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 24px 24px 0 0;
}
/*Product image */

/*Shadow*/
.shadow {
    position: absolute;
    border-radius: 24px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.product-wrap:hover .shadow {
    opacity: 1;
}
/*Shadow*/

/*Actions*/
.actions {
    bottom: 15px;
    right: 15px;
    position: absolute;
    text-align: center;
}
.add-to-cart {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -50px);
    transition: 1s ease-in-out;
}
.add-to-cart a {
border-radius: 10px;
}
.add-to-links a {
    border-radius: 10px;
}
.quickview a {
    border-radius: 10px;
}

.actions a {
    background: #202020;
    color: white;
    display: block;
    height: 36px;
    line-height: 36px;
    width: 42px;
    transition: .3s ease-in-out;
    text-decoration: none;
}
.actions a:before {
    font-family: FontAwesome;
    font-size: 14px;
}
.add-to-cart-button:before {
    content: "\f07a";
}
.add-to-wishlist-button:before {
    content: "\f004";
}
.add-to-compare-button:before {
    content: "\f079";
}
.quikview-button:before {
    content: "\f002";
}
.actions a:hover {
    background: #778899;
    color:#fff;
}
.product-wrap:hover .add-to-cart {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}
.add-to-wishlist {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -50px);
    transition: .8s ease-in-out;
    margin: 9px 0 0;
}
.product-wrap:hover .add-to-wishlist, .product-wrap:hover .add-to-compare, .product-wrap:hover .quikview {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}
.quikview {
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out;
    transform: translate(0, -50px);
    margin: 9px 0 0;
}
/*Actions*/

/*Product Info*/
.product-list h3 {
    color: #000;
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 19px;
}
.product-list p {
    margin-block-start: 0px;
    margin-block-end:0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.actually-price {
    font-weight: 600;
    font-size: 14px;
    color: #000;
}
.discount-price {
    font-size: 13px;
    color: #a2a2a2;
    text-decoration: line-through;
}
.price-kzt {
    font-size: 14px;
    color:#a2a2a2;
    font-weight: 400;
    padding-bottom: 2px;
}
.product-info {
    background-color: #CEE5D0;
    color: #000;
    padding: 7px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
}
.product-info:hover {
    background-color: #a2a2a2;
    color: #fff;
}
/*Product Info*/

/*Advertisement
================================================*/

/* Footer
================================================*/
.footer {
    background-color:#CEE5D0;
}
.telegrams {
    margin-top: 10px;
}
.footer h5 {
    color: #000;
    font-size: 19px;
    padding-bottom: 3px;
}
.footer a {
    text-decoration: none;
    color: #383838;
    font-weight: 500;
    font-size: 15px;
}
.icons a{
    font-size: 14px;
}
.telegrams a {
    font-size: 14px;
}
.footer a:hover {
    color: #778899;
}
.footer-info {
    font-family: "Gotham Pro";
}
/* Footer
================================================*/



/*============== WARNING MESSAGE ===============*/
#warning {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #228B22;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    border-radius: 10px;
    color: white;
}

#warning.show {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*============== WARNING MESSAGE ===============*/

/*============== MEDIA =====================*/

@media screen and (max-width: 992px)  {
    .animation h1 {
        font-size: 35px;
    }
    .products h5 {
        font-size: 50px;
    }
 .product-list h3 {
    font-size: 12px;
    }
    .product-price span {
        font-size: 11px;
    }
    .product-price del {
        font-size: 10px;
    }
    .price-kzt {
        font-size: 11px;
    }
    .product-list a {
        font-size: 11px;
    }

    .footer h5 {
        font-size: 15px;
    }
    .footer-info a {
        font-size: 12px;
    }
    .icons a {
        font-size: 10px;
    }
    .telegrams a {
        font-size: 10px;
    }
    .end {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
   .product-wrap {
       margin-left: auto;
       margin-right: auto;
   }
    .product-list h3 {
        font-size: 15px;
    }
    .product-price span {
        font-size: 13px;
    }
    .product-price del {
        font-size: 12px;
    }
    .price-kzt {
        font-size: 13px;
    }
    .product-list a {
        font-size: 13px;
    }
}

/*============== MEDIA =====================*/

